// FONTS  
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,400;0,600;0,700;1,500;1,700&family=Raleway:wght@200;300;400;500;600;700&display=swap');

// TAILWIND CSS 
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


$color1: #4b7e93;
$color2: #a2c8db;
$color3: #f2f7fd;
$color4: #fc834a;
$color5: #0b0b23;
$color6: #e3eaef;

// Layer 0: Base styles
@layer base {}
  
  // Layer 1: Components styles
@layer components {}

// Layer 2: Utilities styles
@layer utilities {
  .bg-primary{ background-color: $color1  }
  .bg-primary-300{ background-color: $color2  }
  .bg-primary-200{ background-color: $color6  }
  .bg-primary-100{ background-color: $color3  }
  .bg-secondary{ background-color: $color4 }
  .bg-dark{ background-color: $color5 }
  .text-primary{color: $color1}

  .bg-gradient {
    background: rgb(166,196,211);
    background: linear-gradient(27deg, rgba(166,196,211,1) 0%, rgba(101,148,168,1) 37%, rgba(75,126,147,1) 65%, rgba(75,126,147,1) 100%);
  }

  .flex-center { @apply flex items-center justify-center}

  .menu-list { @apply px-4 grid grid-cols-1 gap-2; }
  .menu-list  li {
    @apply flex items-center justify-start border-[1px] pl-6 pr-4 rounded-full cursor-pointer transition-colors ease-in hover:bg-white hover:text-primary
  }

  .page-setup {
    @apply h-full mx-8 my-8;
  }
}
  
  // More custom styles...
  
html, body { height: 100%; }
body { 
  margin: 0; 

  &.mat-typography{
    font-family: 'Raleway', sans-serif;
    p,
    .mat-body p {
      margin: 0;
    }
  }
}



*{box-sizing: border-box;}



// SCROLLBAR
::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.625rem;
}

::-webkit-scrollbar-track {
  // background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c5c5c5;
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}