<div class="h-full">
    <p>dashboard works!</p>
    <div class="mx-8 my-4">
        <div class="grid grid-cols-3 gap-6">
            <app-summary-card [title]="'Expenditure'" [icon]="'fa-dollar-sign'" [amount]="34234.4" [hasIncreased]="hasIncreased" [percentage]="changePercentege"></app-summary-card>
            <app-summary-card [title]="'Savings'" [icon]="'fa-dollar-sign'" [amount]="34234.4" [hasIncreased]="hasIncreased" [percentage]="changePercentege"></app-summary-card>
        </div>
    </div>
    
</div>
